<div class="orders-index">
  <h1>Shipment Dashboard</h1>
<a href="/orders/new">Create Order</a>
<table>
  <tr>
    <th>Order Number</td>
    <th>Tacking Number</td>
    <th>Vendor</th>
    <th>Address</td>
    <th>Shipped On</th>
    <th>Delivery Date</th>
    <th>Status</th>
    <th>Delivery Time</th>
  </tr>
  <% @orders.each do |order| %> 
    <tr>
      <td><%= order.number %></td>
      <td><%= order.tracking_number %></td>
      <td><%= order.vendor.name %></td>
      <td><%= order.address %></td>
      <td><%= order.shipped_at.strftime("%B %e, %Y") %></td>
      <% if order.delivered_at %>
        <td><%= order.delivered_at.strftime("%B %e, %Y") %></td>
      <% else %>
        <td>Not-Delivered</td>
      <% end %>
      <% if order.delivered_at > Time.now.to_date %>
        <td class="pending">Pending</td>
      <% else %>
        <td>Delivered</td>
      <% end %>
      <td><%= (order.delivered_at - order.shipped_at).to_i %></td>
    </tr>
  <% end %>
</table>
</div>
