<h1>Your Order</h1>
<p>Order Number: <%= @order.number %></p>
<p>Tracking Number: <%= @order.tracking_number %></p>
<p>Address: <%= @order.address %></p>
<p>Shipped At: <%= @order.shipped_at %></p>
<p>Delivered At: <%= @order.delivered_at %></p>
